
<div class="top-block">
  <div class="banner">
    <div class="container header">
      <div class="row">
        <div class="banner"><%= image_tag "penguinin_banner2.jpg", alt: "alttext" %></div>
      </div>
    </div>
  </div>
</div>
